body { background: #fff; color: #000; transition: 0.3s; padding: 20px; }
.dark-mode { background: #333; color: #fff; }
#more-text { margin-left: 5px; color: #666; }
.dark-mode #more-text { color: #ccc; }
input { display: block; margin-bottom: 10px; }
#admin { margin-top: 40px; border-top: 1px solid #ccc; }
